@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFE3E3;
  --foreground: #e198ef;
  --buttonOk: #fdcece;
  --buttonCancel: #e1a4a4;
  --modalBg: #fff2f2;
  --correct: #C9E9D2;
  --incorrect: #D91656;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

